<!doctype html>
<html lang="de-DE">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>WhatsApp Chat</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
	<link rel="stylesheet" href="style.css" />
	<style>
[v-cloak] {
	display: none;
}
html {
	overflow-y: scroll;
}
	</style>
</head>
<body>

<div id="app" v-cloak>
	<h1>WhatsApp Chat</h1>

		<div v-if="messages.length == 0">
			loading ...
		</div>
		<template v-else v-for="message in pagedMessages" >
			<div class="message" :class="{me: message.me}">
				<div class="lines">
					<div class="line" v-for="line in message.lines" v-html="line"></div>
				</div>
				<div class="meta">
					<div class="username">{{message.username}}</div>
					<div class="timestamp">{{message.timestamp}}</div>
				</div>
			</div>
		</template>

		<div class="help noprint">
			Arrow Keys or Shift+Mousewheel to switch pages
		</div>

		<div class="noprint">
			<ul class="pagination" v-if="pagedMessages.length != messagesCount">
				<li v-if="false" @click="pageChangeHandle('previous')" class="page-item">&#171;</li>
				<li @click="pageChangeHandle(1)" :class="[currentPage==1 ? 'active' : '']" class="page-item">1</li>
				<li v-if="currentPage > (navNum*2)-1">&hellip;</li>
				<template v-for="n in range(currentPage-navNum, currentPage+navNum, 1)">
					<li v-if="n > 1 && n < pageCount" @click="pageChangeHandle(n)" class="page-item" :class="[currentPage==n ? 'active' : '']">{{n}}</li>
				</template>
				<li v-if="currentPage < pageCount-navNum-1">&hellip;</li>
				<li @click="pageChangeHandle(pageCount)" class="page-item" :class="[currentPage==pageCount ? 'active' : '']">{{pageCount}}</li>
				<li v-if="false" @click="pageChangeHandle('next')" class="page-item">&#187;</li>
			</ul>
			<p>
				<button v-if="pagedMessages.length != messagesCount" @click="showAll()">Alle Anzeigen</button>
			</p>
	</div>

		<p v-if="messages.length > 0">
			Es wurden {{messagesCount}} Nachrichten über {{timespan}} Tagen geladen.
			Zeitraum: {{firstMessageDate | formatDate}} bis {{lastMessageDate | formatDate}}
		</p>
	
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
var myNames = ["Admin", "Marco"]; // Your Whats App Names in Messages
var perPage = 5;
var jumpToLastPage = true;
</script>
<script src="app.js"></script>
</body>
</html>
